
.blueimp-gallery ul {
    overflow: hidden;
    margin: 100px 0;
    padding: 0;
}

.blueimp-gallery ul li {
    display: inline;
    margin: 10px;
}

 .blueimp-gallery a {
    text-decoration: none;
    margin: 10px;
    cursor: pointer;
}

.blueimp-gallery > .indicator > li {
    border-radius: 0;
    height:100px;
    width:100px;
    position: relative;
}

.blueimp-gallery > .slides > .slide > .slide-content {
    height:100%;
}

.blueimp-gallery > .indicator > li > div.slide-selector > i {
    opacity: 0.75;
    color: rgba(0, 0, 0, 0.5);
    background-color: white;
    border: 1px solid white;
    padding: 4px;
    border-radius: 20px;
}

.blueimp-gallery > .indicator > li > div.slide-selector {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
}

.blueimp-gallery > .indicator > li > div.slide-selector.selected > i {
    opacity: 1;
    color: rgba(255, 255, 255, 0.75);
    background-color: green;
    border: 1px solid white;
    padding: 4px;
    border-radius: 20px;
}

.blueimp-gallery > .controls {
    position: absolute;
    bottom: 10px;
    right: 45%;
}

.blueimp-gallery > ul.indicator > li {
    border-radius: 0;
    height:100px;
    width:100px;
    position: relative;
}

.blueimp-gallery.sm > .indicator > li,
.blueimp-gallery.sm > ul.indicator > li {
    height:50px;
    width:50px;
}

.blueimp-gallery.xs > .indicator > li,
.blueimp-gallery.xs > ul.indicator > li {
    height:40px;
    width:40px;
}

.blueimp-gallery.xxs > .indicator > li,
.blueimp-gallery.xxs > ul.indicator > li {
    height:30px;
    width:30px;
}

/*
.blueimp-gallery.sm > .indicator {
    overflow-y: hidden;
    width: 999999px;
    left: 40%;
    text-align: left;
}

.blueimp-gallery.sm > .indicator > li > div.slide-selector > i {
    opacity: 0.75;
    height:15px;
    width:px;
    color: rgba(0, 0, 0, 0.5);
    background-color: white;
    border: none;
    padding: 0;
    border-radius: 0;
}

.blueimp-gallery.sm > .indicator > li > div.slide-selector.selected > i {
    opacity: 1;
    height:15px;
    width:15px;
    color: rgba(255, 255, 255, 0.75);
    background-color: green;
    border: none;
    padding: 0;
    border-radius: 0;
}
*/
